# List Comprehensions

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [ ]:
import os

#### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [ ]:
#your code here
lst_inegres = [ num for num in range(1,51)]

print("The list of consecutive integers from 1 to 50 :" , lst_inegres)

The list of consecutive integers from 1 to 50 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

#### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [ ]:
#your code here
lst_even = [ num for num in range(2,201) if num % 2 == 0 ]

print("The list of even numbers from 2 to 200 :" , lst_even)

The list of even numbers from 2 to 200 : [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

#### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 array below.

In [ ]:
a = [[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]];

In [ ]:
#your code here
# The array 'a' contains 10 lists, so we use an inner loop to access numbers and add them to my_lst
my_lst = [num for lst in a for num in lst]
print("The list containing all elements of the 10 x 4 array : " , my_lst)

The list containing all elements of the 10 x 4 array :  [0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]

#### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [ ]:
#your code here
# The array 'a' contains 10 lists, so we use an inner loop to access numbers and add them to my_lst
my_lst = [num for lst in a for num in lst if num >= 0.5]
print("The list containing all elements of the 10 x 4 array : " , my_lst)

The list containing all elements of the 10 x 4 array :  [0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126]

#### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 array below.

In [ ]:
b = [[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]];

In [ ]:
#your code here
my_lst = [num for lst1 in b  # First loop: Iterates over the 5 outer lists
             for lst2 in lst1  # Second loop: Iterates over the 2 inner lists inside each outer list
             for num in lst2]  # Third loop: Extracts numbers from the 3-element inner lists

print("The list containing all elements of the 5 x 2 x 3 array : " , my_lst)

The list containing all elements of the 5 x 2 x 3 array :  [0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]

#### 6. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [ ]:
#your code here
my_lst = [lst2[-1] for lst1 in b  # Iterate over outer lists
                  for lst2 in lst1  # Iterate over inner lists
                  if lst2[-1] <= 0.5]  # Condition: Include only if last element <= 0.5

print("The list containing all elements of the 5 x 2 x 3 array : " , my_lst)

The list containing all elements of the 5 x 2 x 3 array :  [0.08147297, 0.06833034, 0.30296619, 0.45850679, 0.11434044, 0.10708681, 0.47984544, 0.23760688]

### Bonus


Try to solve these katas using list comprehensions.

**Easy**
- [Insert values](https://www.codewars.com/kata/invert-values)
- [Sum Square(n)](https://www.codewars.com/kata/square-n-sum)
- [Digitize](https://www.codewars.com/kata/digitize)
- [List filtering](https://www.codewars.com/kata/list-filtering)
- [Arithmetic list](https://www.codewars.com/kata/541da001259d9ca85d000688)

**Medium**
- [Multiples of 3 or 5](https://www.codewars.com/kata/514b92a657cdc65150000006)
- [Count of positives / sum of negatives](https://www.codewars.com/kata/count-of-positives-slash-sum-of-negatives)
- [Categorize new member](https://www.codewars.com/kata/5502c9e7b3216ec63c0001aa)

**Advanced**
- [Queue time counter](https://www.codewars.com/kata/queue-time-counter)

#Easy

In [ ]:
#Insert values

# Given a set of numbers, return the additive inverse of each. Each positive becomes negatives, and the negatives become positives.
# [1, 2, 3, 4, 5] --> [-1, -2, -3, -4, -5]
#[1, -2, 3, -4, 5] --> [-1, 2, -3, 4, -5]
#[] --> []

numbers = [1, 2, -3, 4, 5]
new_numbers = [-num for num in numbers]
print("The additive inverse : " , new_numbers)

The additive inverse :  [-1, -2, 3, -4, -5]

In [ ]:
#Sum Square(n)
# Complete the square sum function so that it squares each number passed into it and then sums the results together.

def square_sum(numbers):
    return sum(num ** 2 for num in numbers)

print("The sum of the squares : " , square_sum(numbers))

The sum of the squares :  55

In [ ]:
#Digitize
# Given a non-negative integer, return an array / a list of the individual digits in order.
num = 123
digits = [int(digit) for digit in str(num)]  # Convert number to string to iterate over digits
print("The individual digits:", digits)

The individual digits: [1, 2, 3]

In [ ]:
#List filtering
#In this kata you will create a function that takes a list of non-negative integers and strings and returns a new list with the strings filtered out.
def filter_list(lst):
  return [item for item in lst if type(item) == int]

filter_list([1,2,'a','b'])

[1, 2]

In [ ]:
#Arithmetic list
def arithmetic_list(first, c, l):
    return [first + i * c for i in range(l)]

print(arithmetic_list(1, 2, 5))

[1, 3, 5, 7, 9]

#Medium

In [ ]:
#Multiples of 3 or 5
def multiples_of_3_or_5(number):
    return sum(num for num in range(number) if num % 3 == 0 or num % 5 == 0)

print("The sum of multiples of 3 or 5 : " , multiples_of_3_or_5(10))

The sum of multiples of 3 or 5 :  23

In [ ]:
#Count of positives / sum of negatives
def count_positives_sum_negatives(arr):
    if not arr:
        return []

    positive_count = sum(1 for num in arr if num > 0)
    negative_sum = sum(num for num in arr if num < 0)

    return [positive_count, negative_sum]

print("The count of positives and sum of negatives : " , count_positives_sum_negatives([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, -11, -12, -13, -14, -15]))

The count of positives and sum of negatives :  [10, -65]

In [ ]:
#Categorize new member
def categorize_members(members):
    return ["Senior" if age >= 55 and handicap > 7 else "Open" for age, handicap in members]

print(categorize_members([[18, 20], [45, 2], [61, 12], [37, 6], [21, 21], [78, 9]]))

['Open', 'Open', 'Senior', 'Open', 'Open', 'Senior']